[*.cs]

dotnet_diagnostic.CA1305.severity = none				# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1707.severity = none				# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1852.severity = none				# CA1852: Type '<x>' can be sealed because it has no subtypes in its containing assembly and is not externally visible
dotnet_diagnostic.CA2201.severity = none				# CA2201: Do not raise reserved exception types

dotnet_diagnostic.IDE0022.severity = none				# IDE0022: Use expression body for methods

# XML Documentation
dotnet_diagnostic.CS1573.severity = none                # CS1573: Missing XML comment for parameter
dotnet_diagnostic.CS1591.severity = none                # CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1712.severity = none                # CS1712: Type parameter has no matching typeparam tag in the XML comment (but other type parameters do)

# xUnit errors
dotnet_diagnostic.xUnit1008.severity = error			# xUnit1008: Test data attribute should only be used on a Theory
dotnet_diagnostic.xUnit1013.severity = error			# xUnit1013: Public method should be marked as test
dotnet_diagnostic.xUnit1042.severity = none				# xUnit1042: The member referenced by the MemberData attribute returns untyped data rows
