name: Build

on: 
  push:
    branches-ignore: 
      - 'dependabot/**'
    tags:
      - '**'
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Initialize CodeQL
      uses: github/codeql-action/init@v2
      with:
        languages: 'csharp'

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: |
          3.1.x
          5.0.x
          6.0.x
          7.0.x

    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build -c Release --no-restore
    - name: Test
      run: dotnet test -c Release --no-build --verbosity normal

    - name: Upload coverage reports to Codecov with GitHub Action
      uses: codecov/codecov-action@v3
      
    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v2

    - name: Package 
      run: dotnet pack -c Release --no-build -o nupkgs
      if: startsWith(github.ref, 'refs/tags/')
    - name: Push to Nuget
      run: dotnet nuget push "./nupkgs/*.nupkg" --source "https://api.nuget.org/v3/index.json" --api-key ${{ secrets.NUGETPUBLISHKEY }}
      if: startsWith(github.ref, 'refs/tags/')
